/* imports */
/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap"); /* "Inconsolata", serif; */

/* root variables */
:root {
  /* font family */
  --font-body: "Inconsolata", serif;

  /* font size */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem; /* 36px */
  --text-5xl: 3rem; /* 48px */
  --text-6xl: 3.75rem; /* 60px */
  --text-7xl: 4.5rem; /* 72px */
  --text-8xl: 6rem; /* 96px */
  --text-9xl: 8rem; /* 128px */

  /* font weight */
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  /* colors */
  --color-bg-hover: var(--color-bg-secondary);
  --color-bg-primary: var(--color-brand-white);
  --color-bg-secondary: #f5f5f5;
  --color-bg-tertiary: var(--color-brand-orange);

  --color-border-primary: var(--color-brand-black);

  --color-brand-orange: #ff7d00;
  --color-brand-black: #000000;
  --color-brand-white: #ffffff;

  --color-text-link: var(--color-text-primary);
  --color-text-muted: #d3d3d3;
  --color-text-primary: var(--color-brand-black);
  --color-text-secondary: var(--color-brand-white);

  /* spacing */
  --space-0: 0;
  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem; /* 16px */
  --space-5: 1.25rem; /* 20px */
  --space-6: 1.5rem; /* 24px */
  --space-8: 2rem; /* 32px */
  --space-10: 2.5rem; /* 40px */
  --space-12: 3rem; /* 48px */
  --space-16: 4rem; /* 64px */
  --space-20: 5rem; /* 80px */
  --space-24: 6rem; /* 96px */
  --space-32: 8rem; /* 128px */

  /* border radius */
  --radius-none: 0;
  --radius-sm: 0.125rem; /* 2px */
  --radius: 0.25rem; /* 4px */
  --radius-md: 0.375rem; /* 6px */
  --radius-lg: 0.5rem; /* 8px */
  --radius-xl: 0.75rem; /* 12px */
  --radius-2xl: 1rem; /* 16px */
  --radius-3xl: 1.5rem; /* 24px */
  --radius-full: 9999px; /* fully rounded */
}

/* universal selector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: var(--font-body);
  font-size: var(--text-sm);
  line-height: 1.5;
  margin: auto;
  max-width: 100%;
  text-align: left;
  width: auto;
}

nav {
  background-color: var(--color-bg-secondary);
  height: 100%;
  left: 0;
  overflow-y: auto;
  padding: var(--space-1) var(--space-4);
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 330px;
}

nav h1 {
  font-size: var(--text-2xl);
  font-weight: var(--font-medium);
  margin: var(--space-6);
}

nav ul {
  list-style-type: none;
  margin: var(--space-6);
}

nav a {
  color: var(--color-text-primary);
  display: block;
  font-weight: var(--font-medium);
  margin: var(--space-4) auto;
}

main {
  margin-left: 330px;
  padding: var(--space-1) var(--space-4);
}

section {
  margin: var(--space-6) 0;
  padding: 0 var(--space-6);
}

h1,
h2 {
  text-transform: uppercase;
  margin: var(--space-5) 0;
}

h2 {
  font-size: var(--text-xl);
  font-weight: var(--font-medium);
}

ul {
  list-style-type: none;
  margin: var(--space-5) 0;
}

ul li {
  margin: var(--space-2) 0;
}

p {
  margin: var(--space-5) 0;
  line-height: 1.9;
}

a {
  color: var(--color-text-link);
  font-weight: var(--font-semibold);
  text-decoration: none;
}

code {
  background-color: var(--color-bg-secondary);
  border-radius: var(--radius-md);
  font-size: var(--text-xs);
  line-height: 1.9;
  padding: var(--space-1) var(--space-2);
}

/* footer */
footer {
  font-size: var(--text-xs);
  margin-left: 330px;
  padding: var(--space-3) var(--space-4);
  text-align: left;
}

footer p {
  margin: var(--space-3) var(--space-6);
}

/* flexbox layout */
.flex-container {
  display: flex;
  justify-content: flex-start; /* align logos to the left horizontally */
  align-items: center; /* center logos vertically */
  gap: var(--space-3); /* space between the logos */
  margin: var(--space-6) auto;
}

.flex-item {
  flex: 0 1 auto; /* prevent the logos from stretching */
  display: flex; /* allow the content to be flexible within the item */
  justify-content: center; /* center logo within the grid item */
  align-items: center; /* vertically center the logo */
}

/* media query breakpoints */
@media (max-width: 640px) {
  /* styles for screen widths >= 640px sm */
  nav {
    display: block; /* stack the navbar items vertically */
    height: auto;
    overflow-y: auto; /* vertical scrolling if content exceeds screen height */
    position: static; /* reset position for top alignment */
    width: 100%;
  }

  main,
  footer {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  /* styles for screen widths >= 768px md */
  nav {
    display: block; /* stack the navbar items vertically */
    height: auto;
    overflow-y: auto; /* vertical scrolling if content exceeds screen height */
    position: static; /* reset position for top alignment */
    width: 100%;
  }

  main,
  footer {
    margin-left: 0;
  }
}
